<section id="quick-summary">
    <img [src]="imagePath + 'about-me/me-about.png'" alt="" id="my-blob">
    <div class="text-profile">
        <div class="header">
            <h2><b>Mohamad Rifqy Zulkarnaen</b></h2>
            <h4><b>Software Engineer</b></h4>
        </div>
        <div class="info-data">
            <div>
                <h5><b>About Me</b></h5>
                <p>
                    I am a hardworking person who loves to sharing, helping people and also eager to learn something new. 
                    Also happens to often ideate and build solution using IT for solving problem in society. 
                    I have experiences in software development specifically in Java and Python for about 1.5 years. 
                    My current interest is building a start up and also exploring path of machine learning.
                </p>
            </div>
            <div>
                <h5><b>Interests</b></h5>
                <p>Machine Learning, Fullstack Software Development, Start Up, Gundam, Technology</p>
            </div>
                <div class="social-media-group">
                    <div class="row">
                        <a href="https://www.instagram.com/mrifqyz17/" target="_blank" rel="noopener noreferrer" class="col">
                            <img [src]="imagePath + 'icon/instagram.png'">
                        </a>
                        <a href="https://www.linkedin.com/in/mrifqyz/" target="_blank" rel="noopener noreferrer" class="col">
                            <img [src]="imagePath + 'icon/linkedin.png'">
                        </a>
                        <a href="https://gitlab.com/mrifqyz" target="_blank" rel="noopener noreferrer" class="col">
                            <img [src]="imagePath + 'icon/gitlab.png'">
                        </a>
                        <a href="https://github.com/mrifqyz" target="_blank" rel="noopener noreferrer" class="col">
                            <img [src]="imagePath + 'icon/github.png'">
                        </a>
                        <a href="https://twitter.com/bukan_cinoy" target="_blank" rel="noopener noreferrer" class="col">
                            <img [src]="imagePath + 'icon/twitter.png'">
                        </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="additonal-info">
<div id="work-experience">
    <h5><b>Work Experience</b></h5>
    <div class="row">
        <div class="card col">
            <div class="header-text-title">
                <img [src]="imagePath + 'icon/doku.png'" alt="">
                <div>
                    <h6 class="job-title card-title"><b>Software Engineer</b></h6>
                    <p class="card-subtitle mb-2 text-muted">PT. Nusa Satu Inti Artha • Fulltime</p>
                    <p class="card-subtitle mb-2 text-muted">Apr 2022 - Current</p>
                </div>
            </div>
            <div class="descriptions-experience">
                <p><b>Responsibilities:</b></p>
                <ul>
                    <li>
                        Develop solution for backend of the system using Spring Boot and AngularJS for frontend.
                    </li>
                    <li>
                        Implement unit tests and integration tests of the built program.
                    </li>
                    <li>
                        Collaborate with management, design and QA team to build a great products with agile method.
                    </li>
                </ul>
                <p><b>Contributions:</b></p>
                <ul>
                    <li>
                        Managed to build DOKU website for recruitment using Spring Boot and AngularJS.
                    </li>
                    <li>
                        Maintains product that being used for checkout and payment system throughout the merchant and users.
                    </li>
                    <li>
                        Participated in developing payment gateway interface API between merchant and bank.
                    </li>
                </ul>
            </div>
        </div>
        <div class="card col"> 
            <div class="header-text-title">
                <img [src]="imagePath + 'icon/sagara.png'" alt="">
                <div>
                    <h6 class="job-title card-title"><b>Backend Developer</b></h6>
                    <p class="card-subtitle mb-2 text-muted">Sagara Technology • Freelance</p>
                    <p class="card-subtitle mb-2 text-muted">Apr 2022 - July 2022</p>
                </div>
            </div>
            <div class="descriptions-experience">
                <p><b>Responsibilities:</b></p>
                <ul>
                    <li>
                        Develop micro service for backend of the system using Django REST API, PostgreSQL and Elasticsearch.
                    </li>
                    <li>
                        Collaborate with management, QA and design team to deliver the projects for the client with agile method.
                    </li>
                </ul>
                <p><b>Contributions:</b></p>
                <ul>
                    <li>
                        Managed to handle 1 projects with 3 major features including warehouses stock management system, purchases and stock mutation.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card col-md-6">
            <div class="header-text-title">
                <img [src]="imagePath + 'icon/tiket.png'" alt="">
                <div>
                    <h6 class="job-title card-title"><b>Software Quality Assurance</b></h6>
                    <p class="card-subtitle mb-2 text-muted">PT. Global Tiket Network • Internship</p>
                    <p class="card-subtitle mb-2 text-muted">Aug 2021 - Feb 2022</p>
                </div>
            </div>
            <div class="descriptions-experience">
                <p><b>Responsibilities:</b></p>
                <ul>
                    <li>
                        Create test cases and test plans toward software projects.
                    </li>
                    <li>
                        Conduct manual testing for software in 4 platform (iOS, API, mWeb, Web).
                    </li>
                    <li>
                        Report defects and bugs that found in development phase and production.
                    </li>
                    <li>
                        Collaborate with management, design and developer team to ensure the quality of the products with agile method.
                    </li>
                </ul>
                <p><b>Contributions:</b></p>
                <ul>
                    <li>
                        Managed to handle 8+ projects improvement and 6 new features during 6 months internship.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="education">
    <h5><b>Education</b></h5>
    <div class="row">
        <div class="card col"> 
            <div class="header-text-title">
                <img [src]="imagePath + 'icon/ui.png'" alt="">
                <div>
                    <h6 class="job-title card-title"><b>Bachelor of Computer Science</b></h6>
                    <p class="card-subtitle mb-2 text-muted">Universitas Indonesia • GPA: 3.19</p>
                    <p class="card-subtitle mb-2 text-muted">2018 - 2022</p>
                </div>
            </div>
            <div class="descriptions-experience">
                <p><b>Notable Achievement:</b></p>
                <ul>
                    <li>
                        Organizational Experience: (2020) BEM Fasilkom UI Staff of Student Advocation and Wellfare, (2019) DPM Fasilkom UI Staff of Public Relations.
                    </li>
                    <li>
                        Volunteer Experience: (2019) PMB Fasilkom UI 2019 Head of Design and Public Relations, (2019) PEMIRA Fasilkom UI 2019 Vice Manager of Public Relations, (2018 & 2019) OH Fasilkom UI Staff of Public Relations, (2019) Wisuda Fasilkom UI Staff of Stage and Event, (2019) BETIS Fasilkom UI Staff of Public Relations, (2019) Mentor of DDP0 Program, (2019) Mentor of SIWAK-NG Fasilkom UI.
                    </li>
                    <li>
                        Teaching Assistant: (2020) Web Design and Programming, (2021 & 2022) Advanced Programming, (2021) Platform Based Programming.
                    </li>
                    <li>
                        Undergraduate Thesis: Reverse Engineering of Sistem Informasi Sidang Fasilkom UI for Creating Technical Documentation and Application Fix Reccomendation
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</section>