#intermezzo{
    padding-top: 10vh;
    padding-bottom:10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: url('../../assets/img/landing/bg-shape.png');
    background-size:95vw auto;
    background-position: center;
    background-repeat: repeat-x;

    @media (max-width: 1000px){
        background-size: cover;
    }

    h4{
        margin-bottom: 16px;
        color: #666666;
    }

    h1{
        b {
            color: #17141C;
        }
        
        color: #4e4e4e;
        width: 50vw;

        @media (max-width:600px) {
            width: 80%;
        }
    }

    #avatar-intermezzo{
        width: 15vh;
        margin-bottom: 12px;
    }

    .button-group {
        display: flex;
        align-items: center;
        justify-content:space-between;
        margin-top: 36px;

        button {
            margin-right: 36px;
        }

        @media (max-width: 600px) {
            button {
                margin-right: unset;
                margin-bottom: 36px;
            }
            flex-direction: column;
        }
    }

    .social-media-group {
        margin-top: 64px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .row a{
            margin: 12px 0 12px 0;
        }

        img {
            width: 36px;
            height: auto;
        }
    }
}

#summary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #F9F9F9!important;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 10vh;

    @media (max-width: 1089px){
        flex-direction: column;
        align-items: center;
    }

    @media (max-width: 768px){
        padding-left: 5vw;
        padding-right: 5vw;
    }
    

    #summary-text {
        margin-left: 5vw;
        padding-bottom: 10vh;

        p {
            margin-top: 48px;
            margin-bottom: 40px;
            width: 75%;
        }
    }

    img{
        width: 60%;
        height:max-content;
    }
}

#coming-soon{
    padding-top: 20vh;
    padding-bottom: 20vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
        width: 40%;
        text-align: center;

        @media (max-width:600px) {
            width: 80%;
        }
    }
}