<section id="intermezzo">
    <img [src]="imagePath + 'landing/avatar.png'" alt="" id="avatar-intermezzo">
    <h4><b>Hello, I'm Cinoy!</b></h4>
    <h1>I love <b>ideate</b> and <b>build</b> an impactful products that brings meaningful 
        <b>changes</b> towards the society.
    </h1>
    <div class="button-group">
        <button class="btn btn-primary btn-primary-web">About Me</button>
        <a href="">Projects</a>
    </div>
    <div class="social-media-group">
        <div class="row">
            <a href="https://www.instagram.com/mrifqyz17/" target="_blank" rel="noopener noreferrer" class="col">
                <img [src]="imagePath + 'icon/instagram.png'">
            </a>
            <a href="https://www.linkedin.com/in/mrifqyz/" target="_blank" rel="noopener noreferrer" class="col">
                <img [src]="imagePath + 'icon/linkedin.png'">
            </a>
            <a href="https://gitlab.com/mrifqyz" target="_blank" rel="noopener noreferrer" class="col">
                <img [src]="imagePath + 'icon/gitlab.png'">
            </a>
            <a href="https://github.com/mrifqyz" target="_blank" rel="noopener noreferrer" class="col">
                <img [src]="imagePath + 'icon/github.png'">
            </a>
            <a href="https://twitter.com/bukan_cinoy" target="_blank" rel="noopener noreferrer" class="col">
                <img [src]="imagePath + 'icon/twitter.png'">
            </a>
        </div>
    </div>

</section>
<section id="summary">
    <div id="summary-text">
        <h3>Quick <b>Summary</b></h3>
        <p>Your cheerful yet humorist tech developer who loves to ideate and builds an impactful products for society. 
            Achieved Bachelor of Computer Science from Universitas Indonesia and 
            experienced develops backend application using Java and Python for about 1.5 years. 
            Also happens to taken interest in interface design and usually implement those design using AngularJS.
         </p>
         <a [routerLink]="['/about-me']">Learn more</a>
    </div>
    <img [src]="imagePath + 'landing/me.png'" alt="" id="avatar-intermezzo">
</section>
<section id="coming-soon">
    <h2>Hold on as more contents are <b>coming soon</b>!</h2>
</section>