<section id="intermezzo">
    <img [src]="imagePath + 'landing/avatar.png'" alt="" id="avatar-intermezzo">
    <h4><b>Hello, I'm Rifqy!</b></h4>
    <h1>I love <b>ideate</b> and <b>build</b> an impactful products that brings meaningful
        <b>changes</b> towards the society.
    </h1>
    <div class="button-group">
        <button class="btn btn-primary btn-primary-web" [routerLink]="['/about-me']">About Me</button>
        <a href="">Projects</a>
    </div>
    <div class="social-media-group">
        <div class="row">
            <a href="https://www.instagram.com/mrifqyz17/" target="_blank" rel="noopener noreferrer" class="col">
                <img [src]="imagePath + 'icon/instagram.png'">
            </a>
            <a href="https://www.linkedin.com/in/mrifqyz/" target="_blank" rel="noopener noreferrer" class="col">
                <img [src]="imagePath + 'icon/linkedin.png'">
            </a>
            <a href="https://gitlab.com/mrifqyz" target="_blank" rel="noopener noreferrer" class="col">
                <img [src]="imagePath + 'icon/gitlab.png'">
            </a>
            <a href="https://github.com/mrifqyz" target="_blank" rel="noopener noreferrer" class="col">
                <img [src]="imagePath + 'icon/github.png'">
            </a>
            <a href="https://twitter.com/yocinoyaa" target="_blank" rel="noopener noreferrer" class="col">
                <img [src]="imagePath + 'icon/twitter.png'">
            </a>
        </div>
    </div>

</section>
<section id="summary">
    <div id="summary-text">
        <h3>Quick <b>Summary</b></h3>
        <p>
            Backend Software Engineer with 4 years of experience engineering mission-critical financial systems.
            specialized in Java (Spring Boot) to build high-
            availability APIs and orchestrate zero-downtime legacy migrations. Proven track record of performance
            tuning, including a 90% reduction in API latency (1s
            → 100ms) for high-volume transactions. Dedicated to building secure, scalable architectures that support
            rapid business expansion.
        </p>
        <a [routerLink]="['/about-me']">Learn more</a>
    </div>
    <img [src]="imagePath + 'landing/me.png'" alt="" id="avatar-intermezzo">
</section>
<section id="coming-soon">
    <h2>Hold on as more contents are <b>coming soon</b>!</h2>
</section>