@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@layer base {
  html {
    @apply bg-white dark:bg-gray-900 transition-colors duration-300;
  }

  body {
    @apply text-[#17141C] dark:text-gray-100 font-['Poppins',sans-serif] transition-colors duration-300;
  }
}

@layer utilities {
  .animate-float {
    animation: float 3s ease-in-out infinite;
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
