/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{ 
    --bs-body-color: #17141C!important;
    --bs-body-font-family: 'Poppins', sans-serif!important;
}
  
html{
    background-color: #ffffff;
}

.btn-primary-web {
    background-color: #306AB4!important;
    padding: 12px 36px 12px 36px!important;
    stroke: #36629c!important;
    border-color: #306AB4!important;
    border-radius: 20px!important;
    box-shadow: -1px 2px 10px -1px rgba(0, 0, 0, 0.5)
}