name: Deploy Angular to GCP Root Domain

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'
        cache: 'npm'

    - name: Install Dependencies
      run: npm ci

    - name: Build Angular App
      run: npm run build -- --configuration production

    - name: Debug - List Dist Folder
      run: ls -R dist

    - name: Copy files via SCP
      uses: appleboy/scp-action@master
      with:
        host: ${{ secrets.GCP_IP }}
        username: ${{ secrets.GCP_SSH_USER }}
        key: ${{ secrets.GCP_SSH_KEY }}
        source: "dist/portofolio-web/*"
        target: "/var/www/portfolio"
        strip_components: 2

    - name: Reload Nginx
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.GCP_IP }}
        username: ${{ secrets.GCP_SSH_USER }}
        key: ${{ secrets.GCP_SSH_KEY }}
        script: |
          sudo systemctl reload nginx
          echo "Deployment Complete!"